*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trending{
    width:90%;
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
}
.each_trending{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* justify-content:space-between; */
    
}
.trend_img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.each_tre{
    width: calc(25% - 20px); 
    margin: 10px;
    padding: 20px;
    height:150px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.trend_num{
    font-size: 110px;
    margin-right: 40px;  
    color: rgb(216, 211, 211); 
}
.image_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
    font-size: 19px;
}
.trend_time{
    margin-top: 10px;
}
.trend_head{
    width: 90vw;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    
}
.bottom_cont{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.topic_item{
    padding: 3px;
    background-color: rgb(193, 177, 177);
    border-radius: 7px;
    width: 190px;
    margin-top: 10px;
}
.topic_list{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.aside{
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap:20px;
    
    /* margin: auto; */
}
.filter_cont{
    width: 90vw;
    margin-left: 70px;
   display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: flex-start; */
    padding: 10px;
    margin-top: 30px;
}
    
.select{
    padding: 5px;
    border-radius: 7px;
}
.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.inputs input{
    padding: 5px;
    border-radius: 7px;
}
.search_box{
    padding: 5px;
    border-radius: 7px;
}

.All_posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap:40px
}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.all_each_posts{
    display: flex;
    flex-direction: row;
    width:60vw;
    height: 210px;
    border-radius: 8px;
    /* margin-left: 200px; */
    justify-content: space-between;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.authors_img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.image_post{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.des{
    width:400px;
    white-space: normal;
    word-wrap: break-word
}

.date_time{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.view_more{
    text-decoration: none;

}
.recommend_each{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

}
.following_btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recommend_img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.sign_nav{
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 70px;
    padding: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
}
.wallpaper{
    display: flex;
    justify-content: center;
}
.bottom_content{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.topics_container{
    margin-top: 40px;
}

.topic_reco{
    display: flex;
    flex-direction: column;
    gap:30px
}

.format_date{
    color: rgb(177, 168, 168);
}

.filter_text{
    font-size: 24px;
}

